<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Super Bowl LIII logo" src="{{ "/assets/img/Super_Bowl_LIII_logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Text Mining Super Bowl 2019 Tweets </h3>
    <ul>
      <li> Text Mining | Text Data Analysis | R | tidy </li>
    </ul>
    <p>🏈 I was in Boston during the Patriots Parade. It’s my second “real” Super Bowl experience... So I decided to learn the most from it and did some analysis on Super Bowl tweets in R. 🏈
Actually I learned more about other topics during the analysis rather than NFL also I started following Sony Michel on social media. If you wonder why I followed him or curious about some of the highlights of Super Bowl on Twitter(and my code), you can check out my new post on rpubs.</p>
    <a class="project-link" target="_blank" href="http://rpubs.com/merveozgul/text-mining-superbowl">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Google Play Store" src="{{ "/assets/img/Google-Play-Logo.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> EDA Google Play Store Apps </h3>
    <ul>
      <li> Exploratory Data Analysis | Phyton | Seaborn </li>
    </ul>
    <p>This script has a basic exploratory data analysis on the Android application market using the Google Play Store Apps dataset on Kaggle.</p>
    <a class="project-link" target="_blank" href="https://github.com/merveozgul/EDA-google-play-store-apps">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="World Happiness Report" src="{{ "/assets/img/whr-logo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Visualization & EDA on World Happiness Report </h3>
    <ul>
      <li> Data Visualization | R | ggplot | plotly</li>
    </ul>
    <p>I worked on World Happiness dataset on Kaggle, which has 158 countries and different attributes. I created some interactive graphs by using ggplot and plotly.</p>
    <a class="project-link" target="_blank" href="https://www.kaggle.com/mozgul/visualization-eda-plotly-ggplot">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Bikeshare" src="{{ "/assets/img/bikeshare.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Statistical Analysis of Bikeshare Systems </h3>
    <ul>
      <li> Descriptive Statistics | Phyton | Interactive </li>
    </ul>
    <p>This interactive Python script has statistical analysis for Bikeshare system usage system usage in three cities: Chicago, New York City, and Washington, DC.</p>
    <a class="project-link" target="_blank" href="https://github.com/merveozgul/bike-share">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Santander" src="{{ "/assets/img/kaggle-santander.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Binary Classification on Santander Customer Satisfaction </h3>
    <ul>
      <li> Classification Tree | randomforest | xgboosting | R </li>
    </ul>
    <p>I worked on Santander Customer Satisfaction dataset on Kaggle. I used 3 different classification methods (tree, randomforest and xgboosting). Used cross validation for parameter tuning.</p>
    <a class="project-link" target="_blank" href="https://github.com/merveozgul/Kaggle-Santander-Binary-Classification">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
      <iframe src="https://onedrive.live.com/embed?cid=100F96B71EE0A7A6&amp;resid=100F96B71EE0A7A6%21109&amp;authkey=AOtNYPpO84SmwIM&amp;em=2&amp;wdAr=1.7777777777777777"
       width="350px" height="221px" frameborder="0">Bu <a target="_blank" href="https://office.com/webapps">Office Online</a> tarafından sağlanan eklenmiş bir <a target="_blank" href="https://office.com">Microsoft Office</a> belgesidir.</iframe>
    </div>
  <div class="contents-right">
    <h3> Koala: Creating Stronger Student Parent Communities  </h3>
    <ul>
      <li> Entrepreneurship | Community Building | Marketing Strategy </li>
    </ul>
    <p> Koala is a venture project that aims to help student parents to communicate, schedule a playdate, exchange babysitting services, find out about child-friendly events, or just meet other parents from their school. I led an international team of 5, where we developed a business plan and presentation. </p>
    <a class="project-link" target="_blank" href="https://1drv.ms/p/s!Aqan4B63lg8QbaBs2OZy6v4ZrMw">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="pygame" src="{{ "/assets/img/arts.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Will you win Fansy's Art? </h3>
    <ul>
      <li> Python | Nested Conditions | Functions </li>
    </ul>
    <p>I was inspired by Banksy's shredded art incidence. I designed a text based adventure game using python. </p>
    <a class="project-link" target="_blank" href="https://github.com/merveozgul/text-based-adventure-game">Check it out</a>
  </div>
</div>
